!!!
%html
  %head
    <link rel="shortcut icon" href='fav.ico'>
    = stylesheet_tag "application", media: "all"
    :javascript
      window.api_url = "#{ENV['API_BASE_URL']}";
      window.access_token = "#{@user.token if @user && @user.token}";
    = javascript_tag "application"
    %title
      = @title || ENV['DEFAULT_TITLE']

  %body
    
    = yield
